.wrapper {
  height: 94vh;
  border: 1px solid #bfbfbf;
  position: relative;
}

.titleWrapper {
  height: 44px;
  background-color: #303030;
  color: #ffffff;
}

.titleText {
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 12px;
  width: 100px;
  position: absolute;
  left: 15px;
}

.extensionBodyWrapper {
  height: 100%;
  background-color: #303030;
}

.extensionBody {
  background-color: #ffffff;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  margin: auto;
  border-radius: 1px;
}
