.button {
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 12px;
}

.button:hover,
.buttonPressed {
  background-color: #5194ff;
  color: #ffffff;
}

/* .buttonPressed {
  background: #ffffff;
  box-shadow: inset 0 0 2px #000000;
  padding: 12px;
} */

.topDropContainer {
  position: relative;
}

.disabled {
  pointer-events: none;
}
