.button {
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 12px;
}

.button:hover,
.buttonPressed {
  background-color: #5194ff;
  color: #ffffff;
}

.topDropContainer {
  position: relative;
}

.disabled {
  pointer-events: none;
}
