.app {
  /** 
    Disable the scrolling to keep the LeftNavigation resizing in the window.
  */
  overflow: hidden;
  background-color: #404040;
  position: relative;
}

.body {
  display: flex;
  flex-direction: row;
}
